.search {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  @media (min-width: 1024px) {
    width: 30%;
  }
  .searchLabel {
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
  }
  & input {
    height: 25px;
  }
}
